.hero {
    background-color: var(--background-color-section);
    height: 100vh;
}

.hero_titulo {
    color: var(--Primary-color-500);
    font-weight: 400;
    font-size: 85px;
    text-align: center;
    font-family: var(--font-logo);
    text-shadow: black 0.1em 0.1em 0.2em;
}

.hero_imagem img {
    height: 80%;
    pointer-events: none
}
.hero_sub {
    color: var(--grey-100);
    font-family: var(--font-title);
    text-align: justify;
}


.hero_btn_produto  {
    background-color: var(--Primary-color-500);
    color: var(--grey-100);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 40px;
    font-family: var(--font-title);
    font-size: 18px;
    font-weight: 500;
}

.hero_btn_produto:hover {
    background-color: var(--Primary-color-400);
    color: var(--grey-100);
}
.hero_btn_empresa{
    padding: 10px 40px;
    border-radius: 8px;
    background-color: var(--background-color-section);
    color: var(--Primary-color-500);
    border: 1px rgba(0, 0, 0, 0.4) solid;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 18px;
}

.hero_btn_empresa:hover {
    color: var(--Primary-color-200);
}

@media (max-width: 436px) {
    .hero {
        padding-bottom: 7%;
    }
}


@media (max-width: 576px) { 
    .hero_buttons{
        margin: 0px !important;
    }
}

@media (max-width: 768px) { 
    .hero {
        padding-bottom: 7%;
    }
}

@media (max-width: 996px){
    .hero_imagem{
        display: none;
    }
    .hero_buttons {
        width: 100%;
        justify-content: center;
    }
    .hero_titulo {
        text-align: center;
    } 
}


@media (max-width: 1200px) { 
    .hero_imagem {
        display: none !important;
    }
    .hero_texto {
        display: grid !important;
        margin: auto;
    } 
    .hero_titulo {
        font-size: 65px;
        text-align: center;
        text-shadow: black 0.1em 0.1em 0.2em;
    }
}
