.about {
    background-color: var(--background-color-section);
}


.sobre__card-titulo {
    font-family: var(--font-corpo);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.titulo-sobre {
    color: #fff;
}

.sobre__card-sub {
    width: 266px;
    font-family: var(--font-corpo);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    color: rgba(54, 54, 54, 0.7);
}

.sobre__texto {
    color: #fff;
    text-align: justify;
    font-family: var(--font-corpo);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.card_about {
    max-width: 22rem !important;
    border: none;
}

.card_header {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    background-color: var(--Primary-color-500);
}

.card_header img {
    width: 35px;
}

@media (max-width: 1040px){
    
}

@media (max-width: 450px){
    .sobre__texto {
        flex-direction: column;
    }
    .titulo-sobre {
        text-align: center;
    }
}