.sidebar{
    background-color: var(--background-color-section);
    height: 100vh;
    width: 15%;
}
.sidebar__logo {
    width: 60px;
}
.sidebar__risco{
    border: 2px solid var(--bg-color-section);
    margin: 0 45px;
}

.sidebar__titulo{
    font-size: 22px;
    color: #000;
    padding-top: 10px;
    font-weight: bold;
    font-family: var(--font-logo);
}

.sidebar__item {
    background-color: var(--Primary-color-500);
    padding: 15px 20px;
    margin: 0 15px;
    border-radius: 10px;
    color: #000;
}

.sidebar__item i{
    background-color: var(--Secundary-color-100);
    color: #fff;
    padding: 8px;
    border-radius: 5px;
}
.sidebar__item span{
    color: #fff;
    font-weight: 500;
}
.active {
    background-color: var(--Primary-color-500);
}

@media (max-width: 430px) {

}

@media (max-width: 576px) { 
    
}

@media (max-width: 768px) { 

}

@media (max-width: 992px) { 

}

@media (max-width: 1200px) { 

}