.contato__mapa {
    width: 600px;
    height: 430px;
    border-radius: 15px;
}

.card__contato {
    padding: 25px 10px;
    background-color: var(--grey-100);
    max-width: 160x;
    border-radius: 10px;
    background-image: url(../../assets/background.png);
}

.contato_vertical {
    border-radius: 10px;
    background-image: url(../../assets/background.png);
    background-color: var(--grey-100);
    padding: 0px 10px;
    max-width: 118px;
}

.contato_vertical i{
    font-size: 35px;
}

.vertical__titulo {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 700;
}

.contato_vertical span {
    font-size: 12px;
    text-align: center;
}

.card__contato i {
    font-size: 25px;
}





.card__titulo {
    font-size: 16px;
    font-weight: 700;
}

.card__sub {
    font-size: 12px;
}

.contato__face {
    border:none;
    overflow:hidden;
    height: 130px;
    width: 340px;
}

@media (max-width: 430px) {
    .contato__mapa{
        width: 380px !important;
        height: 300px;
        padding: 0px 10px;
    }
}

@media (max-width: 576px) { 
    .contato__mapa{
        width: 450px;
        height: 300px;
    }
}

@media (max-width: 768px) { 

}

@media (max-width: 992px) { 
    
}

@media (max-width: 1200px) { 

}
