.navbar{
    background-color: var(--background-color-section);
    font-family: var(--font-logo);
}
.offcanvas-header{
    background-color: var(--background-color-section);
}

.menu_titulo{
    font-size: 35px;
    color: #fff;
    padding-top: 10px;
    font-weight: bold;
}

.contatos_barra {
    font-size: 14px;
}
.contatos_barra i{
    font-size: 24px;
}
.barra-superior {
    background-color: var(--Primary-color-500);
}

.barra-icons {
    font-size: 24px;
}

.titulo_color {
    color: var(--Primary-color-500);
}
.menu_btn{
    color:var(--Primary-color-500);
    font-weight: 400;
    font-size: 24px;
}

.btn_login {
    color: #000;
    font-weight: 700;
    font-family: var(--font-title);
    font-size: 20px;
    background-color: var(--Primary-color-500);
    padding: 6px 16px;
    border-radius: 4px;
}
.menu_btn:hover{
    color: #000;
    transition: .3s;
}
.menu_logo {
    width: 80px;
}

.nav__login {
    color: #fff;
    font-size: 34px;
}


@media (max-width: 576px) { 
    
}

@media (max-width: 768px) {  }