@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
  /*===== Fonts =====*/
  --font-logo: 'Courgette';
  --font-title: 'poppins';
  --font-dm-sans: 'DM Sans';
  --font-corpo: 'Nunito';
  --font-great: 'Great Vibes';
  
  /*  cor marrom coco #732C02*/
  /*===== Cores =====*/
  --background-color-section: #E5AC62;
  --bg-color-section:  #732C02;


  /*----- Primaria -----*/
  --Primary-color-100: #F0C783;
  --Primary-color-200: #EBB153;
  --Primary-color-300: #E8A133;
  --Primary-color-400: #E4921D;
  --Primary-color-500: #E0871A;
  --Primary-color-600: #DA7916;
  --Primary-color-700: #D36A13;
  --Primary-color-700: #C85410;



  /*----- Secundaria -----*/
  --Secundary-color-100: #A85C2D;
  --Secundary-color-200: #8F420F;
  --Secundary-color-300: #8F420F;
  --Secundary-color-400: #83390A;
  --Secundary-color-500: #732C02;
  --Secundary-color-600: #651D00;
  --Secundary-color-700: #560A00;


  /*----- Grey -----*/
  --grey-100: #E9E9E9;
  --grey-200: #C7C7C7;
  --grey-300: #c9c9c9;
  --grey-400: #808080;
  --grey-500: #4B4B4B;
  --grey-600: #6B6B6B;
}



body {
  font-family: var(--font-title);
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.titulo {
  font-weight: 700;
  font-weight: 700;
  font-size: 44px;
}

.titulo__color {
    color: var(--bg-color-section) ;
}

.subtitulo {
  font-weight: 300;
  font-size: 16px;
  color: var(--grey-400);
}